<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Zaakpay Refund</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div style="width:800px; margin:30px auto;">
  <h4>This Page is for Testing purpose and behaves like merchant input for Updated/Refund API Page.</h4>

  <div class="row"></div><div class="row"></div>

  <form action="/refundtxn" method="post">

    <div class="row">
      <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Merchant Identifier</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="merchantIdentifier" value="">
      </div>
    </div>

    <div class="row">
      <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Order Id</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="orderId" value="">
      </div>
    </div>

    <div class="row">
      <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Amount in Paisa</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="amount" value="100">
      </div>
    </div>

    <div class="row">
      <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Update Reason</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="updateReason" value="Refund for Test Transaction">
      </div>
    </div>

        <input type="hidden" class="form-control form-control-lg" id="colFormLabelLg" name="mode" value="0">

    <div class="container">
        <label class="radio-inline">
          <input type="radio" name="updateDesired" value="14">Full Refund
        </label>
        <label class="radio-inline">
          <input type="radio" name="updateDesired" value="22">Partial Refund
        </label>
    </div>

    <div class="row"></div><div class="row">.</div>

    <div class="row">
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary"value="Update/Refund Transaction" />
      </div>
    </div>

  </form>
</div>

</body>
</html>
